# =====================================================
# RADAR RIDER MADRID
# Variables de entorno de ejemplo
# =====================================================

# Token del Bot de Telegram
TOKEN=TU_TOKEN_AQUI

# ID del grupo oficial de Telegram
GROUP_ID=TU_GROUP_ID